<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>당신의 2024를 돌아보아요</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script>
        // Function to load CSS with cache busting
        function loadCSS(filename) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = filename + '?v=' + new Date().getTime();
            document.head.appendChild(link);
        }
        // Load the CSS file
        loadCSS("{{ url_for('static', filename='css/styles.css') }}");
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="snow"></div>
    
    <h1>2024 크리스마스 연말정산</h1>

    <form method="POST" id="surveyForm">
        <label for="category">질문 토픽을 골라보세요:</label>
        <select name="category" id="category">
            <option value="일반" {% if current_category == "일반" %}selected{% endif %}>일반</option>
            <option value="취미" {% if current_category == "취미" %}selected{% endif %}>취미</option>
            <option value="여행" {% if current_category == "여행" %}selected{% endif %}>여행</option>
            <option value="직업" {% if current_category == "직업" %}selected{% endif %}>직업</option>
            <option value="음악" {% if current_category == "음악" %}selected{% endif %}>음악</option>
            <option value="애정" {% if current_category == "애정" %}selected{% endif %}>애정</option>
        </select>

        <p id="questionDisplay">질문: {{ question }}</p>
        <input type="hidden" name="current_question" value="{{ question }}">

        <label for="user_input">답변:</label>
        <input type="text" name="user_input" id="user_input" required>
        <button type="submit">답변</button>
    </form>

    <hr>

    <h2>대화 기록</h2>
    <ul id="responseList">
        {% for response in responses %}
            <li>[{{ response["카테고리"] }}] 질문: {{ response["질문"] }} - 답변: {{ response["응답"] }}</li>
        {% endfor %}
    </ul>

    <hr>

    <button id="downloadPDFButton">PDF로 저장해보세요</button>

    <button id="playButton" style="font-size: 24px;">🎄 for your mood </button>
    <audio id="backgroundMusic" loop>
        <source src="{{ url_for('static', filename='music/song.mp3') }}" type="audio/mp3">
    </audio>
    
    <div id="completionMessage" style="display: none;">
        <h2>질문을 모두 소진했어요!</h2>
        <p>당신의 2025년은 더 행복하기를!</p>
    </div>

    <ul class="lightrope">
        <!-- Light rope list items -->
        <li></li>
        <!-- Repeat <li></li> as needed -->
    </ul>


</body>
</html>
